@using HiVolunteerWeb.Entities
@model VolunteeringEntity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Admin" asp-action="AddVolunteering" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="VolunteeringName" class="form-label"></label>
            <input asp-for="VolunteeringName" class="form-control" />
            <span asp-validation-for="VolunteeringName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" type="text" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="VolunteeringDate" class="form-label">Select volunteering date:</label>
            <input asp-for="VolunteeringDate" type="date" class="form-control" />
            <span asp-validation-for="VolunteeringDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="DeadLineDate" class="form-label">Select deadline date:</label>
            <input asp-for="DeadLineDate" type="date" class="form-control" />
            <span asp-validation-for="DeadLineDate" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <div class="form-check">
                <input asp-for="IsFoodAvailable" type="checkbox" class="form-check-input" />
                <label asp-for="IsFoodAvailable" class="form-check-label"></label>
                <span asp-validation-for="IsFoodAvailable" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="IsNeededAccept" type="checkbox" class="form-check-input" />
                <label asp-for="IsNeededAccept" class="form-check-label"></label>
                <span asp-validation-for="IsNeededAccept" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Create Volunteering</button>
        </div>
    </div>
</form>
